:root{
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-samll: 16px;
    --font-micro: 14px;

    /* font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */
    --size-border-radius: 4px;
    
    --animation-duration: 300ms;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

header {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

main {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

footer {
    text-align: center;
}

footer > ul > li {
    list-style: none;
}

.developer__name {
    margin-top: 15px;
    margin-left: 100px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-primary-container {
    background-color: white;
    color: #1F2937;
    padding: 10px 5px 10px 5px;
    height: 100px;
}

#header-logo {
    width: 179.5px;
    height: 179.5px;
    object-fit: cover;
}
.header-container {  /* Header Logo and three links */
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-black);
    padding: 5px 15px 5px 15px;
}

.header-logo {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 32px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    padding-right: 30px;
}

#header-logo {
    width: 145px;
}

.slide {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .slide i {
    opacity: 0;
    line-height: 2;
    font-size: 15px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  
  /* .slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  } */
  
  .slide:hover i {
    opacity: 1;
    color: var(--color-blue);
    transform: translateX(-6px);
  }

  .slide:hover div {
    color: var(--color-blue);
    transition: all var(--animation-duration) ease-in
  }

.slide:hover {
    border-color: var(--color-blue);
    transition: all var(--animation-duration) ease-in;
}