:root{
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-samll: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  
  --animation-duration: 300ms;
}

html,
body {
  margin: 0;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #5961f9 0%,
    #2afadf 40%,
    #f9fea5 100%
  );
  background-repeat: no-repeat;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color : var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color : var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color : var(--color-black);
  margin: 8px 0px;
}

section {
  margin-bottom: 10rem;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);

  width: 100vw;
  height: 100vh;
}

section:last-child {
  margin-bottom: 0;
  height: 100%;
}

.site-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.content__information {
  background-color: var(--color-white);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30%;
}

.content__end {
  margin-bottom: 10%;
}

/* #modern {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-black);
  align-items: center;
} */

#modern {
  background-color: var(--color-black);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.modern__name {
  color: var(--color-white);
}

.modern__select {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  width: 10%;
  height: 5%;
  margin: 15px;
}

.modern__select:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all var(--animation-duration) ease-in
}

/* #simple {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-orange);
  align-items: center;
} */

#simple {
  background-color: var(--color-orange);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 5%;
}

.simple__name {
  color: var(--color-white);
}

.simple__select {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  width: 10%;
  height: 5%;
  margin: 15px;
}

.simple__select:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all var(--animation-duration) ease-in
}

/* #Colorful {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-dark-pink);
  align-items: center;
} */

#Colorful {
  background-color: var(--color-dark-pink);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 10%;
}

.color__name {
  color: var(--color-white);
}

.color__select {
  background-color: var(--color-white);
  color: var(--color-dark-pink);
  border: 2px solid var(--color-dark-pink);
  width: 10%;
  height: 5%;
  margin: 15px;
}

.color__select:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all var(--animation-duration) ease-in
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

[data-scroll='out'] {
  opacity: 0;
}